
    .fundo{
        background-image: url(https://besthqwallpapers.com/img/original/32636/jakiro-4k-twin-headed-dragon-art-dragons.jpg);
        background-size: 1400px 700px;
        position: fixed;
        height: 1200px;
        width: 1500px;
        z-index: 2;
        top: 0;
        
        
    }

    h2{
        color: yellow;
    }

    .container2{
        background-color: black;
        opacity: 0.5;
        height: 100%;
        width: 90%;
        margin-bottom: 0;
        z-index: 3;
        position: fixed;
        top: 0;
    }

    .container{
        height: 150vh;
        width: 1100px;
        margin: 0 auto;
        margin-top: 20vh;
        margin-bottom: 0.2vh;
        margin-left: 20vh;
        margin-right: 30vh;
        position: sticky;
        z-index: 4;
        top: 0;
        background-color: black;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;      
    }


    .n1{
        color: orange;
    }

    .n2{
        color: aqua;
    }

    .n3{
        color: brown;
    }

    .n4{
        color: cadetblue;
    }
