
    .fundo{
      background-image: url(https://besthqwallpapers.com/img/original/32636/jakiro-4k-twin-headed-dragon-art-dragons.jpg);
      background-size: 90% 70%;
      position: fixed;
      height: 185%;
      width: 130%;
      z-index: 2;
      top: 0;  
    }

    .container2{
      background-color: black;
      opacity: 0.5;
      height: 150%;
      width: 90%;
      margin-bottom: 0%;
      margin-left: 5%;
      margin-right: 5%;
      z-index: 3;
      position: fixed;
      top: 0%;
      flex-direction: column;
    }

    .titulo{
      color: rgb(212, 183, 14);
      font-size: 120%;
      font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      z-index: 4;
      width: 80%;
      height: 10%;
      position: sticky;
      top: 10%;
      margin-left: 20%;
      margin-right: 20%;
      margin-bottom: 8%;
      z-index: 4;
    }

    .container{
      height: 100%;
      width: 80%;
      margin: 2%;
      margin-top: 5%;
      margin-bottom: 0%;
      margin-left: 10%;
      margin-right: 10%;
      position: sticky;
      z-index: 5;
      top: 0%;
      background-color: black;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      align-content: space-around;
      align-items: baseline; 
    }

    .espaco{
      background-color: black;
      width: 10px;
      height: 80px;
      margin-left: 30px;
    }

    h1{
      color: rgb(212, 183, 14);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-left: 20px;
      margin-right: 20px;
      flex-direction: row;
      justify-content: space-around;
      align-content: space-around;      
    }

    p{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: goldenrod;
      font-size: inherit;
      margin-top: 10px;
      margin-left: 20px;
      margin-right: 20px;
      flex-direction: row;
      justify-content: space-around;
      align-content: space-around;      
    }

    .p2{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: goldenrod;
      font-size: inherit;
      margin-top: 43px;
      margin-left: 20px;
      margin-right: 20px;
      flex-direction: row;
      justify-content: space-around;
      align-content: space-around;      
    }

    img{
      border: 2px;
      margin-top: 20px;
      margin-left: 2px;
      margin-right: 2px;
      margin-bottom: 2px;
      width: 400px;
      height: 200px
    }

    figcaption{
      margin-right: 40px;
      margin-left: 80px;
    }

    figure{
      float: left;
      margin: 0px 10px 10px 15px;
    }

    .img2{
      border: 2px;
      margin-top: 0px;
      margin-left: 2px;
      margin-bottom: 2px;
      width: 260px;
      height: 250px
    }

    .figcaption2{
      margin-right: 10px;
      margin-left: 10px;
    }

    .fig2{
      float: right;
    }

    .conteudo{
      margin-top: 35px;
    }

    .espacoTitulo1Titulo2{
      background-color: black;
      width: 10px;
      height: 60px;
      margin-left: 60px;
    }

    .espaco1{
      background-color: black;
      width: 10px;
      height: 100px;
      margin-left: 10px;
    }

      .btn{
      font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size:14px;
      font-weight:700;
      text-transform: uppercase;
      border:none;
      padding:10px;
      cursor: pointer;
      display:inline-block;
      text-decoration: none;  
      margin-bottom: 30px;
    }

    a{
      color: white;
    }
    .btn-green{
      background: rgb(120, 187, 19);
      color:#fff;
      box-shadow:0 5px 0 rgb(5, 68, 5);
      margin-left: 80px;
      margin-right: 10px;
    }
    
    .btn-orange{
      background:orange;
      color:#fff;
      box-shadow:0 5px 0 #a16f03;
      margin-left: 10px;
      margin-right: 10px;
      }
    
    .btn-blue{
      background:rgb(4, 75, 230);
      color:#fff;
      box-shadow:0 5px 0 rgb(9, 16, 117);
      margin-left: 10px;
      margin-right: 10px;
    }
    
    .btn-clearblue{
      background:rgb(8, 160, 248);
      color:#fff;
      box-shadow:0 5px 0 rgb(9, 103, 139);
      margin-left: 10px;
      margin-right: 10px;
    }

    .btn-red{
      background:rgb(139, 21, 21);
      color:#fff;
      box-shadow:0 5px 0 darkred;
      margin-left: 10px;
      margin-right: 10px;
      }


    .maisInformacoes{
      font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size:16px;
      font-weight:700px;
      display:inline-block;
      text-decoration: none; 
      margin-top: 30px; 
      margin-bottom: 60px;
      margin-left: 690px;
      border-right: 10px;
    }

    .more{
      color: aqua;

    }



  
