
    body{
        background-image: url(https://i.pinimg.com/originals/5c/94/db/5c94db91d82d90b07969b2e8574c77ba.jpg);
        position: relative;
        height: 180px;
        width: 1000px;
        
    }

    h2{
        color: yellow;
    }

    .container2{
        background-color: rgb(5, 24, 5);
        opacity: 0.5;
        height: 180vh;
        width: 1300px;
        margin: 0;
        
        margin-left: 20px;
        margin-right: 20px;
        position: sticky;
        top: 0;
    }



    .container{
        height: 150vh;
        width: 1100px;
        margin: 0 auto;
        margin-top: 25vh;
        margin-bottom: 5vh;
        margin-left: 20vh;
        margin-right: 30vh;
        position: absolute;
        z-index: 1;
        top: 0;
        background-color: rgb(5, 24, 5);
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;      
    }

    .n1{
        color: orange;
    }

    .n2{
        color: aqua;
    }

    .n3{
        color: brown;
    }

    .n4{
        color: cadetblue;
    }
