.fundo{
        background-image: url(https://besthqwallpapers.com/img/original/32636/jakiro-4k-twin-headed-dragon-art-dragons.jpg);
        background-size: 80% 60%;
        position: fixed;
        height: 185%;
        width: 130%;
        z-index: 2;
        top: 0;  
    }

    .container2{
        background-color: black;
        opacity: 0.5;
        height: 180vh;
        width: 1200px;
        margin-bottom: 0;
        margin-left: 75px;
        margin-right: 25px;
        z-index: 3;
        position: fixed;
        top: 0;
        flex-direction: column;
        

    }

    .titulo{
        color: preto;
        font-size: 20px;
        font-family: old 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        z-index: 4;
        width: 600px;
        height: 60px;
        position: sticky;
        top:60px;
        margin-left: 260px;
        margin-right: auto;
        flex-direction: row;

    }

    .container{
        height: 1000px;
        width: 900px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 0;
        margin-left: 30vh;
        margin-right: 40vh;
        position: sticky;
        z-index: 5;
        top: 0px;
        background-color: black;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;      
    }

    p{
        color: yellow;
    }