.fundo{
    background-image: url(https://besthqwallpapers.com/img/original/32636/jakiro-4k-twin-headed-dragon-art-dragons.jpg);
    background-size: 90% 70%;
    position: fixed;
    height: 185%;
    width: 130%;
    z-index: 2;
    top: 0;  
  }

    .container2{
        background-color: black;
        opacity: 0.5;
        height: 150%;
        width: 90%;
        margin-bottom: 0%;
        margin-left: 5%;
        margin-right: 5%;
        z-index: 3;
        position: fixed;
        top: 0%;
        flex-direction: column;
      }
  
      .titulo{
        color: rgb(212, 183, 14);
        font-size: 120%;
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        z-index: 4;
        width: 80%;
        height: 10%;
        position: sticky;
        top: 10%;
        margin-left: 12%;
        margin-right: 20%;
        margin-bottom: 0%;
        flex-direction: row;
        z-index: 4;
      }
  
      .container{
        height: 100%;
        width: 70%;
        margin: 2%;
        margin-top: 5%;
        margin-bottom: 0%;
        margin-left: 10%;
        margin-right: 10%;
        position: sticky;
        z-index: 5;
        top: 0%;
        background-color: black;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: space-around;
        align-items: baseline;      
      }
  
      h2{
        color:rgb(212, 183, 14);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;      
      }
  
      p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: goldenrod;
        font-size: inherit;
        margin-top: 20px;
        margin-left: 400px;
        margin-right: 20px;
        margin-bottom: 60px;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;    
      }
     
      .btn{
        font-family: arial;
        font-size:14px;
        font-weight:700;
        text-transform: uppercase;
        border:none;
        padding: 8px;
        cursor: pointer;
        display:inline-block;
        text-decoration: none;  
        margin-bottom: 30px;
      }

      textarea{
        background-color: rgb(51, 51, 51);
        border-color: gold;
        border-width: 2px;
        color: yellow;
      }

      .btn-envia{
        background: rgb(51, 51, 51);
        box-shadow:2px 2px 2px #a16f03;
        margin-left: 510px;
        margin-right: 10px;
      }
      
        